body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #DDD;
	text-align: center;
	margin: 0px;
}
#menu {
	display: inline-block;
	padding: 20px;
	border-right: 2px groove #FFF;
	background-color: #EEE;
	height: 500px;
	width: 220px;
	vertical-align: middle;
}
#menu div {
	display: inline-block;
}
#menu select {
	max-width: 142px;
}
#visualizacao {
	display: inline-block;
	background-color: #EEE;
	width: calc(100% - 307px);
	height: 500px;
	vertical-align: middle;
	padding: 20px;
	max-width: 1024px;
}
#acorde {
	text-align: center;
	font-size: 72px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	display: block;
}
#acordeNome {
	text-align: center;
	margin: 0px 0px 15px;
	display: block;
}
#teclado {
	border-collapse: collapse;
	margin: 0px auto;
	overflow: hidden;
}
#teclado tr td {
	text-align: center;
	width: 15px;
	font-weight: bold;
	overflow: visible;
}
#teclado tr td[colspan="2"] {
	width: 30px;
}
#teclado tr td[colspan="3"] {
	width: 45px;
}
#teclado tr td.preta {
	color: #FFF;
	background-color: #000;
	border-top: 2px solid #000;
}
#teclado tr td.branca {
	background-color: #FFF;
	border: 2px solid #000;
	border-top: none;
	height: 80px;
}
#teclado tr td.preenche {
	border-top: 2px solid #000;
	border-bottom: none;
	height: 160px;
}
#teclado tr td.marcada {
	background-color: #F00;
	color: #FFF;
	text-shadow: 1px 1px 0px #000;
}
#teclado tr td span {
	overflow: visible;
	width: 1px;
	height: 20px;
	display: inline-block;
	opacity: 0.25;
	text-align: center;
}
#teclado tr td.marcada span {
	opacity: 1;
}
#teclado tr td span>div {
	width: 50px;
	height: 20px;
	text-align: center;
	margin: 0px -25px;
}
#teclado tr td span.valorAcorde {
	opacity: 1;
}
#partitura {
	overflow: hidden;
}
#partitura p {
	margin: 4px;
}
#partitura div.compasso {
	background-image: url("gfx/partitura_pauta.png");
	background-repeat: repeat-x;
	background-position: center center;
	background-color: #FFF;
	height: 150px;
	width: 500px;
	max-width: 100%;
	margin: 0px auto;
	border: 2px inset #F8F8F8;
	display: block;
}
#partitura div.compasso img.clave {
	float: left;
	margin: 44px 30px;
}
#partitura div.compasso img.nota {
	margin: -75px -25px;
	float: left;
	position: relative;
}
#descricao {
	text-align: left;
	margin: 0px auto;
	background-color: #FFF;
	padding: 10px 20px;
}
#descricao button {
	margin: 0px auto;
	display: block;
}
@media only screen and (max-width: 1017px) {
	body {
		margin: 0px;
		padding: 0px;
	}
	#menu {
		display: block;
		width: auto;
		text-align: left;
		height: auto;
		padding: 5px;
		border-right: none;
		border-bottom: 2px groove #FFF;
	}
	#menu div+br {
		display: none;
	}
	#visualizacao {
		display: block;
		text-align: center;
		padding: 0px;
		width: 100%;
	}
}
@media only screen and (max-width: 425px) {
	#teclado tr td.branca, #teclado tr td.preta {
		border-width: 1px;
	}
	#teclado tr td.branca {
		height: 40px;
	}
	#teclado tr td.preenche {
		height: 80px;
	}
	#partitura div.compasso {
		width: 100%;
	}
	#menu {
		text-align: center;
	}
}